#slide-8 {
    .btn_pop1{
        width: 7%;
        height: 8%;
        position: absolute;
        bottom: 55%;
        right: 27%;
    }
    
    .btn_pop2{
        width: 18%;
        height: 7%;
        position: absolute;
        bottom: 17%;
        right: 2%;
    }
    
    .btn_med_resc{
        width: 30.4%;
        height: 8%;
        position: absolute;
        bottom: 9%;
        right: 35%;
    }
    
    .btn_seg{
        width: 16%;
        height: 8%;
        position: absolute;
        bottom: 9%;
        right: 19%;
    }
}