#slide-17{
    .btn_pop1{
        width: 18%;
        height: 7%;
        position: absolute;
        bottom: 10.5%;
        right: 2%;
        z-index: 1;
    }
    
    
    .btn_next{
        width: 10%;
        height: 7%;
        position: absolute;
        bottom: 9.5%;
        left: 45%;
        z-index: 1;
    }
}