#slide-14 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-14 .btn_seg {
  width: 16.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 18.7%;
}
#slide-14 .btn_med_resc {
  width: 30.6%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 34.8%;
}

/*# sourceMappingURL=espec.css.map */
