#slide-10 {
    .btn_pop1{
        width: 18%;
        height: 7%;
        position: absolute;
        bottom: 16%;
        right: 2%;
    }

    .btn_med_resc{
        width: 30.4%;
        height: 8%;
        position: absolute;
        bottom: 9%;
        right: 35%;
    }

    .btn_efic{
        width: 16%;
        height: 8%;
        position: absolute;
        bottom: 9%;
        right: 65.4%;
    }
}