#slide-7 {
    .btn_hister {
        position: absolute;
        top: 44%;
        left: 8%;
        width: 21%;
        height: 33%;
    }
    .btn_artro {
        position: absolute;
        top: 44%;
        left: 40%;
        width: 21%;
        height: 33%;
    }
    .btn_extra {
        position: absolute;
        top: 44%;
        left: 71%;
        width: 21%;
        height: 33%;
    }
}