#slide-1 {
    .btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .prev, .next {
        display: none;
    }

    .btn_home {
        display: none;
    }

    .btn_entrar{
        width: 14%;
        height: 18%;
        position: absolute;
        right: 7%;
        bottom: 14%;
    }
}