#slide-1 .btn1, #slide-1 .btn2, #slide-1 .btn3, #slide-1 .btn4, #slide-1 .btn5, #slide-1 .btn6, #slide-1 .prev, #slide-1 .next {
  display: none;
}
#slide-1 .btn_home {
  display: none;
}
#slide-1 .btn_entrar {
  width: 14%;
  height: 18%;
  position: absolute;
  right: 7%;
  bottom: 14%;
}

/*# sourceMappingURL=espec.css.map */
