#slide-15 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-15 .btn_seg {
  width: 16.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 18.7%;
}
#slide-15 .btn_efic {
  width: 16.6%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}

/*# sourceMappingURL=espec.css.map */
