#slide-6 .btn_pop1 {
  width: 7%;
  height: 8%;
  position: absolute;
  bottom: 54%;
  right: 32%;
}
#slide-6 .btn_pop2 {
  width: 18%;
  height: 8%;
  position: absolute;
  bottom: 11%;
  right: 5%;
}

/*# sourceMappingURL=espec.css.map */
