#slide-9 {
    .btn_pop1{
        width: 18%;
        height: 7%;
        position: absolute;
        bottom: 16%;
        right: 2%;
    }

    .btn_efic{
        width: 16%;
        height: 8%;
        position: absolute;
        bottom: 9%;
        right: 65.4%;
    }

    .btn_seg{
        width: 16%;
        height: 8%;
        position: absolute;
        bottom: 9%;
        right: 19%;
    }
}