#slide-1 .btn1, #slide-1 .btn2, #slide-1 .btn3, #slide-1 .btn4, #slide-1 .btn5, #slide-1 .btn6, #slide-1 .prev, #slide-1 .next {
  display: none;
}
#slide-1 .btn_home {
  display: none;
}
#slide-1 .btn_entrar {
  width: 14%;
  height: 18%;
  position: absolute;
  right: 7%;
  bottom: 14%;
}

#slide-2 .btn_pop1 {
  width: 14%;
  height: 7%;
  position: absolute;
  bottom: 15%;
  right: 5%;
}

#slide-3 .btn_pop1 {
  width: 18%;
  height: 8%;
  position: absolute;
  bottom: 11%;
  right: 5%;
}

#slide-5 .btn_pop1 {
  width: 18%;
  height: 8%;
  position: absolute;
  bottom: 11%;
  right: 5%;
}

#slide-6 .btn_pop1 {
  width: 7%;
  height: 8%;
  position: absolute;
  bottom: 54%;
  right: 32%;
}
#slide-6 .btn_pop2 {
  width: 18%;
  height: 8%;
  position: absolute;
  bottom: 11%;
  right: 5%;
}

#slide-7 .btn_hister {
  position: absolute;
  top: 44%;
  left: 8%;
  width: 21%;
  height: 33%;
}
#slide-7 .btn_artro {
  position: absolute;
  top: 44%;
  left: 40%;
  width: 21%;
  height: 33%;
}
#slide-7 .btn_extra {
  position: absolute;
  top: 44%;
  left: 71%;
  width: 21%;
  height: 33%;
}

#slide-8 .btn_pop1 {
  width: 7%;
  height: 8%;
  position: absolute;
  bottom: 55%;
  right: 27%;
}
#slide-8 .btn_pop2 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 17%;
  right: 2%;
}
#slide-8 .btn_med_resc {
  width: 30.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 35%;
}
#slide-8 .btn_seg {
  width: 16%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 19%;
}

#slide-9 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-9 .btn_efic {
  width: 16%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}
#slide-9 .btn_seg {
  width: 16%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 19%;
}

#slide-10 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-10 .btn_med_resc {
  width: 30.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 35%;
}
#slide-10 .btn_efic {
  width: 16%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}

#slide-11 .btn_pop1 {
  width: 7%;
  height: 8%;
  position: absolute;
  bottom: 53%;
  right: 16%;
}
#slide-11 .btn_pop2 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 17%;
  right: 2%;
}
#slide-11 .btn_med_resc {
  width: 30.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 35%;
}
#slide-11 .btn_seg {
  width: 16%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 19%;
}

#slide-12 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-12 .btn_efic {
  width: 16.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}
#slide-12 .btn_seg {
  width: 16%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 19%;
}

#slide-13 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-13 .btn_efic {
  width: 16.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}
#slide-13 .btn_med_resc {
  width: 30.6%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 34.8%;
}

#slide-14 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-14 .btn_seg {
  width: 16.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 18.7%;
}
#slide-14 .btn_med_resc {
  width: 30.6%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 34.8%;
}

#slide-15 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-15 .btn_seg {
  width: 16.4%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 18.7%;
}
#slide-15 .btn_efic {
  width: 16.6%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}

#slide-16 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 16%;
  right: 2%;
}
#slide-16 .btn_med_resc {
  width: 30.9%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 34.7%;
}
#slide-16 .btn_efic {
  width: 16.6%;
  height: 8%;
  position: absolute;
  bottom: 9%;
  right: 65.4%;
}

#slide-17 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 10.5%;
  right: 2%;
  z-index: 1;
}
#slide-17 .btn_next {
  width: 10%;
  height: 7%;
  position: absolute;
  bottom: 9.5%;
  left: 45%;
  z-index: 1;
}

#slide-18 .btn_pop1 {
  width: 18%;
  height: 7%;
  position: absolute;
  bottom: 11%;
  right: 2%;
  z-index: 1;
}
#slide-18 .btn_prev {
  width: 10%;
  height: 7%;
  position: absolute;
  bottom: 9.5%;
  left: 45%;
  z-index: 1;
}

#slide-1 {
  background-image: url("../slides/slide-1/images/bg.png");
}

#slide-2 {
  background-image: url("../slides/slide-2/images/bg.png");
}

#slide-3 {
  background-image: url("../slides/slide-3/images/bg.png");
}

#slide-4 {
  background-image: url("../slides/slide-4/images/bg.png");
}

#slide-5 {
  background-image: url("../slides/slide-5/images/bg.png");
}

#slide-6 {
  background-image: url("../slides/slide-6/images/bg.png");
}

#slide-7 {
  background-image: url("../slides/slide-7/images/bg.png");
}

#slide-8 {
  background-image: url("../slides/slide-8/images/bg.png");
}

#slide-9 {
  background-image: url("../slides/slide-9/images/bg.png");
}

#slide-10 {
  background-image: url("../slides/slide-10/images/bg.png");
}

#slide-11 {
  background-image: url("../slides/slide-11/images/bg.png");
}

#slide-12 {
  background-image: url("../slides/slide-12/images/bg.png");
}

#slide-13 {
  background-image: url("../slides/slide-13/images/bg.png");
}

#slide-14 {
  background-image: url("../slides/slide-14/images/bg.png");
}

#slide-15 {
  background-image: url("../slides/slide-15/images/bg.png");
}

#slide-16 {
  background-image: url("../slides/slide-16/images/bg.png");
}

#slide-17 {
  background-image: url("../slides/slide-17/images/bg.png");
}

#slide-18 {
  background-image: url("../slides/slide-18/images/bg.png");
}

#slide-19 {
  background-image: url("../slides/slide-19/images/bg.png");
}

#slide-20 {
  background-image: url("../slides/slide-20/images/bg.png");
}

/*# sourceMappingURL=app.css.map */
