
@import "../slides/slide-1/css/espec.scss";
@import "../slides/slide-2/css/espec.scss";
@import "../slides/slide-3/css/espec.scss";
@import "../slides/slide-4/css/espec.scss";
@import "../slides/slide-5/css/espec.scss";
@import "../slides/slide-6/css/espec.scss";
@import "../slides/slide-7/css/espec.scss";
@import "../slides/slide-8/css/espec.scss";
@import "../slides/slide-9/css/espec.scss";
@import "../slides/slide-10/css/espec.scss";
@import "../slides/slide-11/css/espec.scss";
@import "../slides/slide-12/css/espec.scss";
@import "../slides/slide-13/css/espec.scss";
@import "../slides/slide-14/css/espec.scss";
@import "../slides/slide-15/css/espec.scss";
@import "../slides/slide-16/css/espec.scss";
@import "../slides/slide-17/css/espec.scss";
@import "../slides/slide-18/css/espec.scss";
@import "../slides/slide-19/css/espec.scss";
@import "../slides/slide-20/css/espec.scss";


//backgrounds de las slides
@for $i from 1 through 20 {
    #slide-#{$i} {
      background-image: url('../slides/slide-'+$i+'/images/bg.png');
    }
}

