/************************************************
    RESET
************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

sub, sup {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for olizq browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

#footerBg {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  z-index: 0;
  background-color: #f3f3f3;
}

/************************************************
    ipad resets
************************************************/
@font-face {
  font-family: "avenir-light";
  src: url("fonts/AvenirLTStd-Light.eot");
  src: url("fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirLTStd-Light.woff") format("woff"), url("fonts/AvenirLTStd-Light.ttf") format("truetype"), url("fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "avenir-light";
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

div, span, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s;
}
.slide.active {
  z-index: 0;
  opacity: 1;
}

.abs {
  position: absolute;
}

.popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  display: none;
}

.popup.active {
  z-index: 10;
  opacity: 1;
}

#popFT {
  background-image: url("images/popup_ft.png");
}

.logo_cliente {
  position: absolute;
  top: 91.3%;
  left: 46.3%;
  width: 5.5%;
  height: 8.9%;
  background-image: url(images/logo_cliente.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

.logo_producto {
  position: absolute;
  top: 91.5%;
  right: 4.5%;
  width: 15.7%;
  height: 6.9%;
  background-image: url(images/logo_producto.png);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

#openMenu {
  position: absolute;
  top: 0%;
  left: -21%;
  width: 20%;
  -webkit-transition: left 0.2s ease-out;
  -moz-transition: left 0.2s ease-out;
  -o-transition: left 0.2s ease-out;
  transition: left 0.2s ease-out;
  height: 100%;
  background-color: black;
  /* overflow: scroll; */
  z-index: 10;
}

#openMenu.active {
  left: 0%;
}

#openMenu .slide_title {
  width: 100%;
  height: 16px;
  color: white;
  position: relative;
  top: 0px;
  left: 30px;
}

#openMenu .slide_thumb {
  z-index: 1;
  width: 100%;
}

#openMenu .slide_diapo {
  left: 10%;
  width: 62%;
  position: relative;
  top: 6px;
  margin: 11px;
  background-color: #ffffff;
}

.inactive {
  z-index: 1 !important;
  opacity: 0.1 !important;
  pointer-events: none !important;
  -webkit-pointer-events: none !important;
}

.overlay {
  display: none;
}

.overlay.active {
  z-index: 1;
  display: block;
  position: absolute;
  opacity: 0.5;
  background-color: black;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#scale {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  z-index: 100000;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ftde {
  position: absolute;
  top: 94%;
  left: 81%;
  width: 10%;
  height: 10%;
  font-size: 10px;
  color: #8e8b89;
}

.btn_home {
  position: absolute;
  top: 0%;
  left: 3%;
  width: 10%;
  height: 10%;
}

.btn_thumbs {
  position: absolute;
  top: 91.7%;
  left: 7.4%;
  width: 4.4%;
  height: 10%;
  background-image: url("images/thumb.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.btn_i {
  position: absolute;
  top: 91.7%;
  left: 14%;
  width: 4.4%;
  height: 10%;
  background-image: url("images/i.png");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.btn_i.active {
  background-image: url("images/icon_footer_info_active.png");
}

.btn_biblio {
  position: absolute;
  top: 91.7%;
  left: 20.6%;
  width: 4.4%;
  height: 10%;
  background-image: url(images/biblio.png);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.popup img {
  width: 100%;
}

.popup .close {
  position: absolute;
  top: 7%;
  left: 89%;
  width: 7%;
  height: 8%;
  /*background-color: rgba(100,0,0,0.5);*/
}

.search-bar {
  position: absolute;
  top: 8%;
  left: 56%;
  width: 24%;
  height: 5%;
  border: 3px solid #8e8b89;
}

.search-bar > input {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 85%;
  height: 100%;
  font-size: 0.8em;
  border: none;
}

.search-bar > .btnSearch {
  position: absolute;
  background-image: url("images/search.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #8e8b89;
  top: 0%;
  right: 0%;
  width: 16%;
  height: 100%;
}

button[data-search=next] {
  position: absolute;
  top: 0%;
  left: 103%;
  width: 14%;
  height: 100%;
  border-radius: 1px;
}

button[data-search=prev] {
  position: absolute;
  top: 0%;
  left: 119%;
  width: 14%;
  height: 100%;
  border-radius: 1px;
}

.btn1 {
  position: absolute;
  top: 0%;
  left: 19%;
  width: 10.8%;
  height: 13%;
}

.btn2 {
  position: absolute;
  top: 0%;
  left: 29.7%;
  width: 10.1%;
  height: 13%;
}

.btn3 {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 9.8%;
  height: 13%;
}

.btn4 {
  position: absolute;
  top: 0%;
  left: 50.2%;
  width: 9.8%;
  height: 13%;
}

.btn5 {
  position: absolute;
  top: 0%;
  left: 60.2%;
  width: 10.1%;
  height: 13%;
}

.btn6 {
  position: absolute;
  top: 0%;
  left: 70.2%;
  width: 10.8%;
  height: 13%;
}

.prev {
  position: absolute;
  top: 46%;
  left: 0%;
  width: 7%;
  height: 10%;
  background-image: url(images/arrow_prev.png);
  background-repeat: no-repeat;
  background-size: 26%;
  background-position: 45% 45%;
  opacity: 0;
  z-index: -1;
}

.next {
  position: absolute;
  top: 46%;
  right: 0%;
  width: 7%;
  height: 10%;
  background-image: url(images/arrow_next.png);
  background-repeat: no-repeat;
  background-size: 26%;
  background-position: 49% 45%;
  opacity: 0;
  z-index: -1;
}

.prev.active, .next.active {
  z-index: 1;
  opacity: 1;
}

mark.current {
  background-color: orange;
}

/* Scroll bar de la FT*/
::-webkit-scrollbar {
  width: 20px;
  overflow: visible;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #0c4533;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.ft-container {
  margin-top: 13%;
  margin-left: 6%;
  width: 86%;
  height: 67%;
  overflow-y: scroll;
  padding-right: 2%;
}

/*.ft-container * {margin:0; padding:0; text-indent:0; }*/
.ft-container .h1, h1 {
  color: black;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
}

.ft-container .p,
.ft-container p {
  color: black;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0pt;
}

.ft-containera {
  color: black;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  font-size: 1em;
}

/*.ft-container table,
.ft-container tbody {vertical-align: top; overflow: visible; }*/
.ft_text {
  line-height: 2.1em;
}

.ft_text .h2 {
  font-weight: bold;
}

.ft_table {
  font-size: 1em;
  border-collapse: collapse;
  border: 1px solid black;
}

.ft_table td {
  border: 1px solid black;
  padding: 0.6em;
  padding-left: 4em;
  padding-right: 4em;
}

.ft_table_title {
  font-weight: bold !important;
  text-decoration: underline !important;
}

.ft_title {
  font-weight: bold !important;
  font-size: 1.9em !important;
}

.ft_title_2 {
  font-weight: bold !important;
  font-size: 1.9em !important;
}

.triangulo_ft {
  width: 0.6em !important;
}

@media (min-width: 1024px) {
  .ft-container {
    font-size: 12px;
  }

  .ft-container .h1, h1 {
    font-size: 0.9rem;
  }

  .ft_table td {
    padding-left: 2em;
    padding-right: 2em;
  }

  .ft_title {
    font-weight: bold !important;
    font-size: 1.1em !important;
  }

  .ft_title_2 {
    font-weight: bold !important;
    font-size: 1.1em !important;
  }
}
@media (min-width: 2048px) {
  .ft-container .h1, h1 {
    font-size: 1.6em !important;
    margin-bottom: 1em !important;
  }

  button[data-search=next], button[data-search=prev] {
    font-size: 2em;
  }

  .search-bar > .btnSearch {
    background-size: 71%;
  }

  .triangulo_ft {
    width: 0.6em !important;
  }

  .ft-container .p, .ft-container p {
    font-size: 1.6em !important;
  }

  .ft_table {
    font-size: 1em;
    border-collapse: collapse;
    border: 1px solid black;
  }

  .ft_table td {
    border: 1px solid black;
    padding: 0.6em;
    padding-left: 4em;
    padding-right: 4em;
  }

  .ft_table_title {
    font-weight: bold !important;
    text-decoration: underline !important;
  }
}

/*# sourceMappingURL=global.css.map */
